body {
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    margin:0;
    padding:0;
}

input, button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #858585 #c2c2c2 #c2c2c2;
    border-image: none;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0.0666667em 0 rgba(0, 0, 0, 0.1) inset, 0 0.0666667em 0.0666667em rgba(0, 0, 0, 0.05) inset;
    color: #1f1f1f;
    cursor: text;    
    font-size: 0.882353em;    
    min-height: 2.4em;
    padding-left: 1em;   
}

#search-div {
    background-image: url("/Images/fondo.png");
    margin: 0 0 0 -2px;
    padding: 1.41176em 5% ;
}
#search-subdiv {
    background: none repeat scroll 0 0 padding-box rgba(0, 0, 0, 0.72);
    border-radius: 0.352941em;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    margin:0 auto;
    padding: 1.41176em 25px;
    width: 960px;
}
    #search-subdiv h2 {
        color: white;        
    }
    #search-subdiv input {
        width: 600px;
    }
    #search-subdiv button{
        background: -moz-linear-gradient(center bottom, #ffbe00 0%, #ffcb00 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-color: #ffcb00 #ffcb00 #ffbf00;
        line-height: 1.45;
        color: #3d3100;
        cursor: pointer;
        font-weight: bold;
        font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    }
#content {
    padding: 1.41176em 25px;
    margin:0 auto;   
    width: 960px;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #c7c7c7;
    border-image: none;
    border-radius: 0.235294em;
    border-style: solid;
    border-width: 1px 0 0;
    margin-bottom: 1.05882em;
}
#separacion {    
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #e5e5e5;
    border-color: #c7c7c7;
    border-image: none;
    border-radius: 0.235294em;
    border-style: solid;
    border-width: 1px 0 0;
    margin-bottom: 1.05882em;
    padding: 17px 0 17px 10px;
}
#hotels {

}
.title-span{
    color: #c7c7c7;
    font-weight: bold;
    font-size: 0.764706em;
    line-height: 1.4;
    margin-bottom: 0.461538em;
}
.section-hotel {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #c7c7c7;
    margin: 10px 0;
    position:relative;    
}
.sub-section-hotel {
    display: inline-block;
    margin: 0 0 -3px;
    vertical-align: top;
}    
    .sub-section-hotel.description {    
        color: #6b6b6b;    
        font-size: 0.864706em;
        padding: 10px;
        width: 679px;
    }
    .sub-section-hotel a {
        color: #0065b8;
        font-size: 16px;
    }
    .sub-section-hotel p {
        vertical-align: middle;
    }
.fly-rigth {
    color: #0065b8;
    font-size: 16px;
    font-weight: bold;
    position:absolute;
    right:10px;
    top:10px;
}

.hotel-name {
    color: #0065b8;
    font-size: 1.8em;
    display: block
}

.hotel-description {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 6px;
    color: gray;
    display: block
}
.room-type {
    color: #0065b8;
    display: block;
    font-size: 1.3em;
    margin-top: 40px;
}

.room-description {
    font-size: 14px;
    color: rgb(145, 145, 145);
}

