<header>

</header>
<div id="body"> 
    <div id="search-div">
        <div id="search-subdiv"> 
            <h2>Search 325,000 hotels and 360 airlines worldwide </h2> 
            <span class="title-span">Ciudad</span>                          
            <p>                
                <input type="text" name="ciudad" id="ciudad" />
            </p>            
            <button onclick="getHotelXCiudad();"> <span>Search</span> </button>                       
        </div>
    </div>    
    <div id="content">
        <div id="separacion">Existen mas de 325,000 hoteles en el Mundo!</div>
        <div id="hotels"></div>                                             
     </div>
</div>

@section scripts{
    <script type="text/javascript">
        function getHotelXCiudad() {
            text = $('#ciudad').val();
            $.getJSON('api/hotel?ciudad=' + text, function (contactsJsonPayload) {
                contactsJsonPayload = JSON.parse(contactsJsonPayload);
                $('#hotels').html("");
                len = contactsJsonPayload.HotelListResponse.HotelList.HotelSummary.length;                
                $(contactsJsonPayload.HotelListResponse.HotelList.HotelSummary).each(function (i, item) {
                    txtimg = getUrlImg(item.thumbNailUrl);
                    txtDescription = item.shortDescription;
                    txtDescription = txtDescription.replace("&lt;p&gt;&lt;b&gt;Property Location&lt;/b&gt; &lt;br /&gt;", "");                    
                    
                    $('#hotels').append('<div class="section-hotel">'+
                        '<div class="sub-section-hotel"><img width="255" src="' + txtimg + '" /></div>' +
                        '<div class="sub-section-hotel description">'+
                            '<span class="fly-rigth">' + item.hotelRating + '/5</span>' +
                            '<a href="#"><strong>' + item.name + '</strong></a><br />' + item.locationDescription +
                            '<p>' + txtDescription + '</p>' +
                        '</div>'+
                    '</div>');
                });
            });
        }

        function getUrlImg(url) {
            if (url !== "") {
                a = url.split(".");
                txt = 'http://media2.expedia.com/' + a[0].substring(1, a[0].length - 1) + 'l.' + a[1];
            } else {
                txt = '/Images/no-img.png';
            }
            return txt;
        }
    </script>
}

