<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Hoteles</a></p>
        </div>
    </div>
</header>
<div id="body">     
    <div id="tab-box">
        <div id="tab-1" class="tab">
            <span>
                <a href="#tab-1">Por Nombre</a>
            </span>
            <span>
                <p>
                    <label for="contactId">Ciudad:</label>
                    <input type="text" name="ciudad" id="ciudad" />
                </p>
                <input type="button" id="search" value="Buscar" onclick="getHotelXCiudad();" />    
                <ul id="contacts"></ul>
            </span>
        </div>
        <div id="tab-2" class="tab">
            <span>
                <a href="#tab-2">Por Posicion</a>
            </span>
            <span>
                <p>TODO</p>
               <!-- <p>
                    <label for="contactId">Latitud:</label>
                    <input type="text" name="lat" id="lat" />
                </p>
                <p>
                    <label for="contactId">Longitud:</label>
                    <input type="text" name="lon" id="lon" />
                </p>
                <input type="button" id="search2" value="Buscar" onclick="getSitioXPosicion();" />
                <ul id="contacts2"></ul> -->
            </span>
        </div>   
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        window.location.hash = '#tab-1';

        function getHotelXCiudad() {
            text = $('#ciudad').val();
            $.getJSON('api/hotel?ciudad=' + text, function (contactsJsonPayload) {
                contactsJsonPayload = JSON.parse(contactsJsonPayload);
                console.log(contactsJsonPayload);
                $(contactsJsonPayload.HotelListResponse.HotelList.HotelSummary).each(function (i, item) {
                    $('#contacts').append('<li>' + item.name + '</li>');
                });
            });
        }

        /* function getSitioXPosicion() {
            lat = $('#lat').val();
            lon = $('#lon').val();
            $.getJSON('http://ejer-topicos01.azurewebsites.net/api/sitios/?lat=' + lat + '&lon=' + lon, function (contactsJsonPayload) {
                contactsJsonPayload = JSON.parse(contactsJsonPayload);
                console.log(contactsJsonPayload);
                $('#contacts2').html("");
                $(contactsJsonPayload).each(function (i, item) {
                    $('#contacts2').append('<li>' + item.Nombre + '</li>');
                });
            });
        }*/
    </script>
}

