<header>

</header>
<div id="body"> 
    <div id="search-div">
        <div id="search-subdiv"> 
            <h2>Search 325,000 hotels and 360 airlines worldwide </h2> 
            <span class="title-span">Ciudad</span>                          
            <p>                
                <input type="text" name="ciudad" id="ciudad" />
            </p>            
            <button class="button" onclick="getHotelXCiudad();"> <span>Search</span> </button>                       
        </div>
    </div>    
    <div id="content">
        <div id="separacion">Existen mas de 325,000 hoteles en el Mundo!</div>
        <div id="hotels"></div>                                             
        <div id="rooms">
            <h3 class="availability-header">Choose your room</h3>
            <div id="form-room">
                <form id="form-room-available">
                <div class="form-sec-room">
                    <label class="label" for="datepicker">Check-in</label> 
                    <input type="text" name="fechaDesde" id="fechaDesde">
                </div>
                <div class="form-sec-room">
                    <label class="label" for="datepicker">Check-out</label> 
                    <input type="text" name="fechaHasta" id="fechaHasta">
                </div>
                <div class="form-sec-room">
                    <label class="label">Rooms</label> 
                    <select class="sel-selector" name="roomCountInput" id="roomCountInput" onchange="addAdultSelect()">  
                        <option selected="selected">1</option>  
                        <option>2</option>  <option>3</option>  
                        <option>4</option>  <option>5</option>  
                        <option>6</option>  <option>7</option>  
                        <option>8</option>  
                    </select>
                </div>
                <div class="form-sec-room">                    
                    <div id="adultSelect">
                        <label class="label">Adults</label> 
                        <select class="sel-selector" name="adultCountInput1">  
                            <option>1</option>  <option selected="selected">2</option>  
                            <option>3</option>  <option>4</option>  
                            <option>5</option>  <option>6</option>  
                            <option>7</option>  <option>8</option>  
                            <option>9</option>  <option>10</option>  
                            <option>11</option>  <option>12</option>  
                            <option>13</option>  <option>14</option>  
                        </select>                    
                    </div>
                </div>
                <button style="margin-top: 22px;" class="button" onclick="showRoomAvailable()"> <span>Update</span> </button>
                </form>
            </div>
            <div id="room-available"></div>
        </div>                                                     
    </div>
</div>

@section scripts{
    <script type="text/javascript">  
        var idHotel;
        $("#fechaDesde").datepicker();
        $("#fechaDesde").datepicker("option", "dateFormat", "mm-dd-yy");
        $("#fechaDesde").datepicker('setDate', new Date());
        $("#fechaHasta").datepicker();
        $("#fechaHasta").datepicker("option", "dateFormat", "mm-dd-yy");
        $("#fechaHasta").datepicker('setDate', new Date());

        function showRoomAvailableForm(hotelId) {
            idHotel = hotelId;
            $('#separacion').html("");
            $('#hotel-div-' + hotelId).find('button').css("display","none");
            etq = $('#hotel-div-' + hotelId).html();
            $('#hotels').html(etq);
            $('#rooms').css("display", "block");
            $('#room-available').html("");

        }

        function showRoomAvailable() {
            
        }

        $("#form-room-available").submit(function (event) {
            //console.log($(this).serializeArray());
            //            event.preventDefault();   
            var objForm = "";
            //console.log(objForm);
            $(this).serializeArray().forEach(function(entry) {
                //objForm.push(entry);
                console.log(entry);
                objForm += entry.name + "," + entry.value + ";";
            });
            console.log(objForm);
                //var jsonParm = JSON.parse(objForm);
            return false;
            /*$.getJSON('api/hotel?obj='+$(this).serializeArray(), function (contactsJsonPayload) {
                console.log(contactsJsonPayload);
            });*/
        });

        function showHotel(hotelId) {
            $.getJSON('api/hotel/' + hotelId, function (hotelDetails) {
                hotelDetails = JSON.parse(hotelDetails);
                $('#hotels').html("");
                $('#rooms').css("display", "none");
                $('#room-available').html("");

                // INFORMACION GENERAL DEL HOTEL.
                $('#separacion').html(
                    "<span class='hotel-name'>" + hotelDetails.HotelInformationResponse.HotelSummary.name + "</span>" +
                    "<span class='hotel-description'>" + hotelDetails.HotelInformationResponse.HotelDetails.amenitiesDescription + "</span>");

                // IMAGENES DEL INTERIOR DEL HOTEL.
                $('#hotels').append("<div style='width:210px; margin-left:auto; margin-right:auto'>")
                $(hotelDetails.HotelInformationResponse.HotelImages.HotelImage).each(function (i, img) {
                    $('#hotels').append('<img src="' + img.thumbnailUrl + '" alt="' + img.hotelImageId + '" />');
                });
                $('#hotels').append('</div>');

                // TIPOS DE CUARTO.
                $(hotelDetails.HotelInformationResponse.RoomTypes.RoomType).each(function (i, room) {
                    $('#hotels').append('<span class="room-type">' + room.description + '</span>');
                    $('#hotels').append('<span class="room-description">'+room.descriptionLong+'</span>');
                });
            })
        }

        function getHotelXCiudad() {
            text = $('#ciudad').val();
            $.getJSON('api/hotel?ciudad=' + text, function (contactsJsonPayload) {
                contactsJsonPayload = JSON.parse(contactsJsonPayload);
                $('#hotels').html("");
                $('#rooms').css("display", "none");
                $('#room-available').html("");

                len = contactsJsonPayload.HotelListResponse.HotelList.HotelSummary.length;                
                $(contactsJsonPayload.HotelListResponse.HotelList.HotelSummary).each(function (i, item) {
                    $('#separacion').html("Existen " + len + " hoteles para " + text);
                    txtimg = getUrlImg(item.thumbNailUrl);
                    txtDescription = item.shortDescription;
                    txtDescription = txtDescription.replace("&lt;p&gt;&lt;b&gt;Property Location&lt;/b&gt; &lt;br /&gt;", "");                    
                    
                    $('#hotels').append('<div class="section-hotel" id="hotel-div-' + item.hotelId + '">' +
                        '<div class="sub-section-hotel"><img width="255" src="' + txtimg + '" /></div>' +
                        '<div class="sub-section-hotel description">'+
                            '<span class="fly-rigth">' + item.hotelRating + '/5</span>' +
                            '<a href="#" onclick="showHotel('+item.hotelId+')"><strong>' + item.name + '</strong></a><br />' + item.locationDescription +
                            '<p>' + txtDescription + '</p>' +
                            '<button style="position: absolute;right: 10px;" class="button" onclick="showRoomAvailableForm(' + item.hotelId + ')"> <span>Reserve</span> </button>  ' +
                        '</div>'+
                    '</div>');
                });
            });
        }

        function getUrlImg(url) {
            if (url !== "") {
                a = url.split(".");
                txt = 'http://media2.expedia.com/' + a[0].substring(1, a[0].length - 1) + 'l.' + a[1];
            } else {
                txt = '/Images/no-img.png';
            }
            return txt;
        }

        function addAdultSelect() {            
            $("#adultSelect").html("");
            room = $("#roomCountInput").val();
            $("#adultSelect").append('<label class="label" style="margin-left: 55px;">Adults</label> ');
            for (i = 0; i < room; i++) {
                $("#adultSelect").append('<label class="label" style="display:inline;margin-right: 15px;">Room' + (i + 1) + '</label><select class="sel-selector" name="adultCountInput' + (i + 1) + '"><option>1</option><option selected="selected">2</option> ' +
                            '<option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option>'+
                            '<option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option></select> <br />');
            }
        }
    </script>
}

