<header>

</header>
<div id="body"> 
    <div id="search-div">
        <div id="search-subdiv"> 
            <h2>Search 325,000 hotels and 360 airlines worldwide </h2> 
            <span class="title-span">Ciudad</span>                          
            <p>                
                <input type="text" name="ciudad" id="ciudad" />
            </p>            
            <button onclick="getHotelXCiudad();"> <span>Search</span> </button>                       
        </div>
    </div>    
    <div id="content">
        <div id="separacion">Existen mas de 325,000 hoteles en el Mundo!</div>
        <div id="hotels"></div>                                             
    </div>

    <div id="reservation-form" title="Make a reservation">
        <form action="api/room" class="reservation-form">
            <label>Arrival date</label>
            <input type="date" name="arrivalDate" id="arrivalDate" format="MM/dd/yyyy" value="" />
            <label>Departure date</label>
            <input type="date" name="departureDate" id="departureDate" format="MM/dd/yyyy" value="" />
            <label>How many adults people?</label>
            <input type="number" name="room1" id="room1" value="" />
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var dialog;

        function showFormReservation() {
           dialog.dialog("open");
        }

        function searchRoomsAvailable() {
            $.getJSON('api/room?arrivalDate=' + $('#arrivalDate').val() +
                               '&departureDate=' + $('#departureDate').val() +
                               '&room1=' + $('#room1').val(), function (roomsAvailable) {
                console.log(roomsAvailable)
            })
        }

        dialog = $('#reservation-form' ).dialog({
            autoOpen: false,
            height: 380,
            width: 410,
            modal: true,
            buttons: {
                'Search Rooms Available': searchRoomsAvailable,
                Cancel: function () {
                    dialog.dialog("close");
                }
            },
            close: function () {
                form[0].reset();
            }
         })

        function showHotel(hotelId) {
            $.getJSON('api/hotel/' + hotelId, function (hotelDetails) {
                hotelDetails = JSON.parse(hotelDetails);
                $('#hotels').html("");

                // INFORMACION GENERAL DEL HOTEL.
                $('#separacion').html(
                    "<span class='hotel-name'>" + hotelDetails.HotelInformationResponse.HotelSummary.name + "</span>" +
                    "<span class='hotel-description'>" + hotelDetails.HotelInformationResponse.HotelDetails.amenitiesDescription + "</span>"+
                    "<div class='reservation'><button onclick='showFormReservation()'>Make a reservation</button></div>");

                // IMAGENES DEL INTERIOR DEL HOTEL.
                $('#hotels').append("<div style='width:210px; margin-left:auto; margin-right:auto'>")
                $(hotelDetails.HotelInformationResponse.HotelImages.HotelImage).each(function (i, img) {
                    $('#hotels').append('<img src="' + img.thumbnailUrl + '" alt="' + img.hotelImageId + '" />');
                });
                $('#hotels').append('</div>');

                // TIPOS DE CUARTO.
                $(hotelDetails.HotelInformationResponse.RoomTypes.RoomType).each(function (i, room) {
                    $('#hotels').append('<span class="room-type">' + room.description + '</span>');
                    $('#hotels').append('<span class="room-description">'+room.descriptionLong+'</span>');
                });
            })
        }

        function getHotelXCiudad() {
            text = $('#ciudad').val();
            $.getJSON('api/hotel?ciudad=' + text, function (contactsJsonPayload) {
                contactsJsonPayload = JSON.parse(contactsJsonPayload);
                $('#hotels').html("");
                len = contactsJsonPayload.HotelListResponse.HotelList.HotelSummary.length;                
                $(contactsJsonPayload.HotelListResponse.HotelList.HotelSummary).each(function (i, item) {
                    $('#separacion').html("Existen " + len + " hoteles para " + text);
                    txtimg = getUrlImg(item.thumbNailUrl);
                    txtDescription = item.shortDescription;
                    txtDescription = txtDescription.replace("&lt;p&gt;&lt;b&gt;Property Location&lt;/b&gt; &lt;br /&gt;", "");                    
                    
                    $('#hotels').append('<div class="section-hotel">'+
                        '<div class="sub-section-hotel"><img width="255" src="' + txtimg + '" /></div>' +
                        '<div class="sub-section-hotel description">'+
                            '<span class="fly-rigth">' + item.hotelRating + '/5</span>' +
                            '<a href="#" onclick="showHotel('+item.hotelId+')"><strong>' + item.name + '</strong></a><br />' + item.locationDescription +
                            '<p>' + txtDescription + '</p>' +
                        '</div>'+
                    '</div>');
                });
            });
        }

        function getUrlImg(url) {
            if (url !== "") {
                a = url.split(".");
                txt = 'http://media2.expedia.com/' + a[0].substring(1, a[0].length - 1) + 'l.' + a[1];
            } else {
                txt = '/Images/no-img.png';
            }
            return txt;
        }
    </script>
}

